################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/C-Sharp_TranslateCUI.slnx
/bin/Debug/net10.0
/obj
